*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(2,58,21);
    height: 350px;
    transition: background 500ms ;
}
.upperText{
    width: 95%;
}

.header-italic{
    font-family: 'Emilys Candy', cursive;
}
.head-text h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}


.searchBt{
    color: white;
    background-color: rgb(29,191,115);
    padding: 10px;
    width: 100%;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    transition: background 100ms;
}
.searchBt:hover{
 background-color: rgb(29, 159, 98);
 color: white;
}
.search{
    width: 95%;
    border: none;
    height: 40px;
}
.search:focus{
   
    outline: none;
}
.searchBar{
    background-color: white;
    padding: 3px;
    padding-left: 5px;
    border-radius: 5px;
}
.popular{
    position: relative;
    text-align: start;
    
}


.popular p{
    color: white;
    font-weight: 500;
}
li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: background 1s;
}
li a:hover{
    color: rgb(69, 66, 66);
    
}
.popular ul{
    display: flex; 
    list-style: none;
    position: absolute;
  
}
.popular ul::before{
    content: "popular :";
    color: white;
    
}
.popular ul li{
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid white;
    border-radius: 50px;
    margin-left: 10px;
    transition: background 1s;
}
.popular ul li:hover{
    background-color: white;
}

/* .trusted-by-container{
    
} */

.trusted{
/* border: solid green; */
    margin: 0 auto;
    position: relative;
    background-color: rgba(238, 238, 238, 0.514);
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.trusted ul{
    display: flex;
   list-style: none;
    /* border: solid orange; */
   width: 80%;
   margin: 0 auto;
   justify-content: space-around;
}
.trusted-text{
    position: absolute;
    top: 25px;
    right: 77%;
    font-weight: bold;
    color: gray;
}

.mother-a-hole{
    background-color: rgb(241,253,247);
    padding: 10% 0;
}
.a-whole{
    width: 95%;
    margin: 0 auto;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    
}
.fingertips li{
    list-style: none;
    
}
.fingertips li h6{
    color: rgb(41, 39, 39);
}
.fingertips li p{
    color: rgba(83, 81, 81, 0.884);
    font-size: large;
}
.fingertips {
    padding-left: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.a-whole{
    width: 96%;
    margin: 0 auto;
}


.marketPlace a{
    font-weight: bold;
    color: rgb(68, 68, 68);
}
.marketplace-container{
  width: 94%;
    margin: 0 auto;
}
.marketplace-container h2{
    color: rgb(64,65,69);
    font-size: 30px;
    font-weight: bold;
}

.marketPlace{
    
    padding: 9px;
}


.row{
    
    
    margin: 0 auto;
}
.fiber-business-container{
    background-color: rgb(13,8,77);
    
}
.fb-text p{
    color: white;
    background-color: rgb(88,74,255);
    display: inline;
    
    border-radius: 35px;
}
.fb-text h2 ,h6,h5,h3{
    color: rgb(255, 255, 255);
}

.fb-text .explore-bt {
    background-color: rgb(29,191,115);
    display: inline;
    border-radius: 6px;
    margin-bottom: 3000px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    cursor: pointer;
}
.fb-text .explore-bt:hover{
    background-color: rgb(29, 159, 98);
    
}
.fb-list {
    list-style: none;
    padding-left: 0;
}
.fb-list li{
    margin-top: 1.4rem;
}
.fb-text h5{
    line-height: 30px;
}
.teams{
    font-family:  Courier, monospace;
}

.fb-secondary{
    width: 95%;
    margin: 0 auto;
}


.fb-text h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
.fb-text h3 span{
    font-family: Arial, Helvetica, sans-serif;
}
/* -----------------------------------MEDIA QUARRY----------------------- */
@media screen and (min-width:600px) {
   .head-text h1{
       font-size: 40px;
       line-height: 48px;
   }
   .upperText{
       width: 90%;
   }
}
@media screen and (min-width :770px) {
    .move-right{
       margin-left: 8%;
    }
}
 @media screen and (min-width:900px) { /*mega media -------------------------------------------- */
  
    .upperText{
        width: 60%;
       margin-right: 60%;
       padding-left: 36px;
    }
    .head-text h1{
        font-size: 45px;
    }
    
    .upperText{
        top: 100px;
        position: absolute;
        top: 150px;
    }
    header{
        height: 100vh;
        position: relative;
        background-image: url("/Image/PngItem_50277.png");
        background-repeat: no-repeat;
        background-position: 90% 50%;
        background-size: contain;
    }
    .trusted ul{
        width: 60%;
    }
    
    .fiber-business-container{
        padding-top: 70px;
        padding-bottom: 100px;
    }
    
}
@media screen and (max-width:900px){
    .fiber-business-container{
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 950px) {
    .popular{
        visibility: hidden;
    }
    
    .trusted-text{
        visibility: hidden;
    }
    
}

@media screen and (min-width: 1000px) {
    .f-video{
    
    margin: auto;
}
}

@media screen and (max-width: 600px) {
  .hide-for-small{
        visibility: hidden;
    }  
}
/*mega media -------------------------------------------- */